@using Monitor.TransDto.WebSite
@using JQ.Result
@model IPageResult<WebSiteQueryDto>
@{
    ViewBag.Title = "站点列表";
    var searchInfo = ViewBag.SearchInfo as WebSiteQueryWhereDto;
}
@using (Html.BeginForm("Index", "WebSite", FormMethod.Get, new { @id = "SearchForm" }))
{
    <nav class="breadcrumb">
        <span class="r">
            <a href="/WebSite/Add?w=800&h=600" title="添加站点" class="Dialog btn btn-primary radius">
                <i class="Hui-iconfont">&#xe600;</i> 添加站点
            </a>
            <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
                <i class="Hui-iconfont">&#xe6e2;</i> 批量禁用
            </a>
        </span>
    </nav>
    @Html.Partial("_Partial_Search", searchInfo)
    <div class="page-container">
        <div class="page-container-list">
            <table class="table table-border table-bordered table-bg" id="table-head-fixer" style="overflow-x:auto;">
                <thead>
                    <tr class="text-c">
                        <th width="25">
                            <input type="checkbox" name="" value="">
                        </th>
                        <th width="300">AppId</th>
                        <th width="300">密钥</th>
                        <th width="300">名字</th>
                        <th width="300">标题</th>
                        <th width="300">基础地址</th>
                        <th width="300">状态</th>
                        <th width="300">添加时间</th>
                        <th width="300">修改时间</th>
                        <th width="300">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.TotalCount > 0)
                {
                    foreach (WebSiteQueryDto item in Model)
                    {
                            <tr class="text-c">
                                <td><input type="checkbox" value="1" name=""></td>
                                <td>@item.AppId</td>
                                <td>@item.AppSecret</td>
                                <td>@item.SiteName</td>
                                <td>@item.SiteTitle</td>
                                <td>@item.SiteHost</td>
                                <td>@item.State</td>
                                <td>@item.CreateTime</td>
                                <td class="td-status">@item.LastModifyTime</td>
                                <td class="td-manage"><a style="text-decoration:none" onClick="admin_stop(this,'10001')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a> <a title="编辑" href="javascript:;" onclick="admin_edit('管理员编辑','admin-add.html','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>

                            </tr>
                        }
                    }
                    else
                    {
                        <tr class="text-c ">
                            <td colspan="10" class="c-danger">暂无记录</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @Html.Partial("~/Views/Shared/_Partial_Pager.cshtml", Model)
    </div>
}

